// ========== Settings SCSS ========== //

.presentations-instructions {
    background: white;
    max-width: 800px;
    padding: 15px 30px 30px !important;
    margin: 0 auto 60px !important;
    border: 1px solid rgb(190, 190, 190) !important;
    
    label {
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid rgb(190, 190, 190);
    }

    .instructions-wrap {
        padding: 0 15px !important;

        .buttons-wrap {
            display: flex;
            justify-content: space-around;
            max-width: 400px;
            margin: 30px auto 0;
        }
    }
}

.reset-the-display {
    .choices-list,
    .values-list {
        min-height: 400px;
    }
}
